<mat-sidenav-container>
  <mat-sidenav disableClose position="end" mode="side" opened="true">
    <form #resetForm="ngForm">
      <h2>Forgot Password</h2>
      <mat-form-field *ngIf="!resetSent">
        <input matInput type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="user.email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
          (keyup.enter)="resetPassword()" required>
        <mat-error *ngIf="email.invalid && user.email === ''">
          Email is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.invalid && user.email !== ''">
          Email is
          <strong>not</strong> formatted properly
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="errorMsg">
        {{errorMsg}}
      </mat-error>
      <button mat-raised-button type="button" [disabled]="!resetForm.form.valid" (click)="resetPassword()" *ngIf="!resetSent" color="primary">Send Reset Email</button>
      <h4 *ngIf="resetSent">A message has been sent to {{user.email}} containing a link to reset your password.</h4>
      <a href="/login" color="accent">Back to Login</a>
    </form>
  </mat-sidenav>
  <section>
    <h1>Angular + Firebase + Material</h1>
  </section>
</mat-sidenav-container>
<section class="mat-mobile-container">
  <section>
      <h2>Angular + Firebase + Material</h2>
  </section>
  <form #resetForm="ngForm">
    <h2>Forgot Password</h2>
    <mat-form-field *ngIf="!resetSent">
      <input matInput type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="user.email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
        (keyup.enter)="resetPassword()" required>
      <mat-error *ngIf="email.invalid && user.email === ''">
        Email is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="email.invalid && user.email !== ''">
        Email is
        <strong>not</strong> formatted properly
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errorMsg">
      {{errorMsg}}
    </mat-error>
    <button mat-raised-button type="button" [disabled]="!resetForm.form.valid" (click)="resetPassword()" *ngIf="!resetSent" color="primary">Send Reset Email</button>
    <h4 *ngIf="resetSent">A message has been sent to {{user.email}} containing a link to reset your password.</h4>
    <a href="/login" color="accent">Back to Login</a>
  </form>
</section>