<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="/home"><mat-icon matListIcon>home</mat-icon> Home</a>
      <a mat-list-item href="/contacts"><mat-icon matListIcon>contacts</mat-icon> Contacts</a>
      <a mat-list-item href="/settings"><mat-icon matListIcon>settings</mat-icon> Settings</a>
      <a mat-list-item (click)="logOut()"><mat-icon matListIcon>exit_to_app</mat-icon> Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>