<section *ngIf="!modifyContact">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-card>
    <mat-card-title *ngIf="selection.selected.length > 0">
      <b>
        {{selection.selected.length}}
        <!--
          <button mat-icon-button style="float: right">
            <mat-icon>delete</mat-icon>
          </button>
        -->
      </b>
    </mat-card-title>
    <mat-card-title *ngIf="selection.selected.length == 0">
      <b>Contacts
        <button mat-mini-fab (click)="add()" color="accent" style="float: right">
          <mat-icon>add</mat-icon>
        </button>
      </b>
    </mat-card-title>
    <mat-card-content *ngIf="dataSource.data.length != 0 && !isLoading">
      <mat-table #table [dataSource]="dataSource">
  
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let contacts">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(contacts) : null" [checked]="selection.isSelected(contacts)"></mat-checkbox>
          </mat-cell>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let contacts" (click)="modify(contacts)" style="cursor:pointer">
            <b>{{contacts.name}}</b>
          </mat-cell>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let contacts">
            <a [href]="'mailto:' + contacts.email">{{contacts.email}}</a>
          </mat-cell>
        </ng-container>
  
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let contacts"> {{contacts.phone}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="menu">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let contacts">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>phone</mat-icon>
                <span>{{contacts.phone}}</span>
              </button>
              <button mat-menu-item>
                <mat-icon>email</mat-icon>
                <span>{{contacts.email}}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
    <!-- No Contacts Found -->
    <mat-card-content *ngIf="dataSource.data.length == 0 && !isLoading">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>error_outline</mat-icon>
          <h4 mat-line>No contacts found!</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <!-- Data Loading -->
    <mat-card-content *ngIf="isLoading">
      <mat-list>
        <mat-list-item>
          <h4 mat-line>Please wait while we load your contacts ...</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
<section *ngIf="modifyContact">
  <mat-card>
    <mat-card-title><b>{{ contact.id === undefined ? 'Add' : validateDelete ? 'Delete' : 'Edit' }}</b></mat-card-title>
    <mat-card-content>
      <form #contactForm="ngForm">
        <mat-form-field>
          <input matInput type="text" name="name" placeholder="Name" #name="ngModel" [disabled]="validateDelete" [(ngModel)]="contact.name" required>
          <mat-error *ngIf="name.invalid && contact.name === ''">Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" name="phone" placeholder="Phone" #phone="ngModel" [disabled]="validateDelete" [(ngModel)]="contact.phone" required>
          <mat-error *ngIf="phone.invalid && contact.phone === ''">Phone is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" name="email" placeholder="Email" #email="ngModel" [disabled]="validateDelete" [(ngModel)]="contact.email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" required>
          <mat-error *ngIf="email.invalid && contact.email === ''">Email is <strong>required</strong></mat-error>
          <mat-error *ngIf="email.invalid && contact.email !== ''">Email is <strong>not</strong> formatted properly</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer *ngIf="validateDelete">
        <button mat-raised-button type="button" (click)="delete(contact)" color="warn">Confirm</button>
        <button mat-raised-button type="button" (click)="deleteValidation(false)" color="secondary" style="float: right;">Cancel</button>
    </mat-card-footer>
    <mat-card-footer *ngIf="!validateDelete">
        <button mat-raised-button type="button" [disabled]="!contactForm.form.valid" (click)="save(contact)" color="primary">Save</button>
        <button mat-raised-button type="button" (click)="close()" color="secondary">Close</button>
        <button mat-raised-button type="button" *ngIf="contact.id != undefined" (click)="deleteValidation(true)" color="warn" style="float: right;">Delete</button>
    </mat-card-footer>
  </mat-card>
</section>