section {
    padding: 85px 25px 25px 25px;
}

.mat-column-select {
    flex: 0 0 50px;
    overflow: inherit;
}

.mat-column-menu {
    flex: 0 0 50px;
    align-content: right;
}

section > mat-card > mat-card-content > form {
    display: flex;
    flex-direction: column;
}

mat-card-footer {
    padding: 0 20px 15px 20px;
}

@media screen and (min-width: 500px) {
    .mat-column-menu {
       display: none; 
    }
}

@media screen and (max-width: 500px) {
    .mat-column-email, .mat-column-phone {
        display: none;
    }
}