<form #loginForm="ngForm">
  <h2>Login</h2>
  <mat-form-field>
      <input matInput type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="user.email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
          required>
      <mat-error *ngIf="email.invalid && user.email === ''">
          Email is
          <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="email.invalid && user.email !== ''">
          Email is
          <strong>not</strong> formatted properly
      </mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Password" #passwrd [(ngModel)]="user.password"
          (keyup.enter)="signIn()" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwrd.required">
          Password is
          <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <a href="/forgot-password" color="accent">Forgot Password?</a>
  <mat-error *ngIf="errorMsg">
      {{errorMsg}}
  </mat-error>
  <button mat-raised-button type="button" [disabled]="!loginForm.form.valid" (click)="signIn()" color="primary">Log In</button>
  <div style="margin-top: 5px;">Don't have an account?</div>
  <a href="/signup" color="accent">Create an account</a>
</form>