form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 25px 25px 25px;
}

form > mat-form-field, form > button {
    width: 300px;
}

form > mat-card {
    margin-top: 25px;
    width: 250px;
}

form > mat-form-field mat-icon {
    cursor: pointer;
}