form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 25px 25px 25px;
}

form > * {
    width: 300px;
}

form > mat-form-field mat-icon {
    cursor: pointer;
}