mat-sidenav-container section {
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
}

mat-sidenav-container {
    background: url('/assets/images/backgrounds/2560x2560.png') no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 100%;
}

section.mat-mobile-container {
    background-color: #fff;
}

section.mat-mobile-container > section {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}

@media screen and (min-width: 675px) {
    .mat-drawer-container {
       display: block; 
    }
    section.mat-mobile-container {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .mat-drawer-container {
       display: none; 
    }
    section.mat-mobile-container {
        display: block;
    }
}