<mat-sidenav-container>
    <mat-sidenav disableClose position="end" mode="side" opened="true">
        <form #signupForm="ngForm">
            <h2>SIGN UP</h2>
            <mat-form-field>
                <input matInput type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="user.email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
                    required>
                <mat-error *ngIf="email.invalid && user.email === ''">
                    Email is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="email.invalid && user.email !== ''">
                    Email is
                    <strong>not</strong> formatted properly
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="password" placeholder="Password" #password="ngModel" validateEqual="confirmPassword"
                    reverse="true" [(ngModel)]="user.password" required>
                <mat-error *ngIf="password.invalid">
                    Password is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="confirmPassword" placeholder="Password (Confirm)" #confirmpassword="ngModel" validateEqual="password"
                    [(ngModel)]="user.confirmPassword" (keyup.enter)="signUp()" required>
                <mat-error *ngIf="confirmpassword.invalid && user.confirmPassword == ''">
                    Password (Confirm) is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="confirmpassword.invalid && user.confirmPassword != ''">
                    Passwords do
                    <strong>not</strong> match
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="errorMsg">
                {{errorMsg}}
            </mat-error>
            <button mat-raised-button type="button" [disabled]="!signupForm.form.valid" (click)="signUp()" color="primary">Create Account</button>
            <div style="margin-top: 5px;">Already have an account?</div>
            <a href="/login" color="primary">Login</a>
        </form>
    </mat-sidenav>
    <section>
        <h1>Angular + Firebase + Material</h1>
    </section>
</mat-sidenav-container>