/* You can add global styles to this file, and also import other style files */

/* Angular Material Themes
   -- Including a theme is required to apply all of the core and theme styles to your application
*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Remove body margin and padding so content stretches to the browser edge */ 
* {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    line-height: 1.4!important;
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    background-color: #FFF;
  }

  a {
    color: #039be5;
    text-decoration: none;
  }